.task-container {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 0px;
  width: 100%;
  margin: auto !important;
}
.task-name {
  font-weight: 600;
  font-size: 20px;
}
.icons {
  cursor: pointer;
  font-size: 18px;
}
.icons input[type="checkbox"]:focus {
  box-shadow: none;
}
.icons .mark-complete {
  background-color: green !important;
}
.completed {
  text-decoration: line-through;
  text-decoration-color: red;
}

input[type="checkbox"]:not(:checked) {
  border: 2px solid green;
}
.icons .edit-icon {
  color: blue;
}
.icons .delete-icon {
  color: red;
}
